In [1]:
link = "Data/imports_85_data.csv"

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv(link)

In [4]:
#show data
data.head()

,column_a,column_b,column_c,column_d,column_e,column_f,column_g,column_h,column_i,column_j,...,column_q,column_r,column_s,column_t,column_u,column_v,column_w,column_x,column_y,column_z
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

In [4]:
#multiplca dos valores
a = 2
b = 3
def multiplicar(a,b):
    return a*b
print(multiplicar(a,b))

#suma dos valores
a = 2
b = 3
def suma(a,b):
    return a+b
print(suma(a,b))

6
5