Q.05-01

In [1]:
def bubblesort(S): 
    n = len(S) 
    for i in range(n): 
        print(S) 
        for j in range(n-1): 
            if S[j] > S[j+1]: 
                S[j], S[j+1] = S[j+1], S[j] 
    return S

In [2]:
S = [50, 30, 40, 10, 20]
bubblesort(S)
print(S)

[50, 30, 40, 10, 20]
[30, 40, 10, 20, 50]
[30, 10, 20, 40, 50]
[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]

Q.05-02

In [1]:
def insertionsort2(S): 
    n = len(S) 
    for i in range(1, n): 
        print(S) 
        x = S[i] 
        j = i - 1 
        while j >= 0 and S[j] > x: 
            S[j+1] = S[j] 
            j -= 1 
        S[j+1] = x 
    return S

In [6]:
S = [50, 30, 40, 10, 20]
insertionsort2(S)
print(S)

[50, 30, 40, 10, 20]
[30, 50, 40, 10, 20]
[30, 40, 50, 10, 20]
[10, 30, 40, 50, 20]
[10, 20, 30, 40, 50]

Q.05-03

In [11]:
def mergesort2(S):
    n = len(S)
    if n <= 1:
        return S
    else:
        m = n // 2
        L = mergesort2(S[:m])
        R = mergesort2(S[m:])
        return merge2(L, R)

def merge2(L, R):
    i = j = 0
    S = []
    while i < len(L) and j < len(R):
        if L[i] < R[j]:
            S.append(L[i])
            i += 1
        else:
            S.append(R[j])
            j += 1
    S += L[i:]
    S += R[j:]
    return S

S = [50, 30, 40, 10, 20]
S = mergesort2(S)
print(S)

[10, 20, 30, 40, 50]

In [12]:
S = [6, 2, 11, 7, 5, 4, 8, 16, 10, 3]
mergesort2(S, 0, len(0)-1)
print(S)

TypeError: object of type 'int' has no len()

Q.05-04

In [13]:
def partition1(S, p, r): 
    x = S[r] 
    i = p - 1 
    for j in range(p, r): 
        if S[j] <= x: 
            i += 1 
            S[i], S[j] = S[j], S[i] 
    S[i+1], S[r] = S[r], S[i+1] 
    return i + 1

In [17]:
S = [15, 10, 12, 20, 25, 13, 22] 
partition1(S, 0, len(S)-1) 
print(S)

[15, 10, 12, 20, 13, 22, 25]

Q.06-01

In [21]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

print(factorial(3))

6

Q.06-02

In [28]:
def factorial(n, memo={}):
    if n == 0:
        return 1
    else:
        if n not in memo:
            memo[n] = n * factorial(n-1)
        return memo[n]

n = int(input("Ingresa un numero: "))
print(factorial(n))

6

Q.06-03

In [32]:
def fibonacci(n):
    if n == 0 or n == 1:
        return 1
    else:
        return fibonacci(n-1) + fibonacci(n-2)

n = int(input("Ingresa un numero: "))
print(fibonacci(n))

3

Q.06-04

In [6]:
palabra = ("A", " ", "MERRY", " ", "XMAS", " ", "TOO", " ", "ALL")
palabra = list(palabra)
print(palabra)


for i in range(len(palabra)):
    if palabra[i] == "A":
        palabra[i] = 1
    elif palabra[i] == "MERRY":
        palabra[i] = 2
    elif palabra[i] == "XMAS":
        palabra[i] = 3
    elif palabra[i] == "TOO":
        palabra[i] = 4
    elif palabra[i] == "ALL":
        palabra[i] = 5
    else:
        palabra[i] = 0

print(palabra)


suma = 0
for i in range(len(palabra)):
    suma += palabra[i]

print("La suma de los digitos asociados a la palabra es: ", suma)

['A', ' ', 'MERRY', ' ', 'XMAS', ' ', 'TOO', ' ', 'ALL']
[1, 0, 2, 0, 3, 0, 4, 0, 5]
La suma de los digitos asociados a la palabra es:  15

Q.07-1

In [10]:
import pandas as pd
d = {'col1': [1, 2], 'col2': [3, 4], 'col3': [5, 6], 'col4': [7, 8]}
df = pd.DataFrame(data=d)
print(df)

   col1  col2  col3  col4
0     1     3     5     7
1     2     4     6     8

Q.07-02

In [11]:
df2 = df['col4']
print(df2)

0    7
1    8
Name: col4, dtype: int64

Q.07-03

In [14]:
df.index = ['Primero', 'Segundo']
print(df)

         col1  col2  col3  col4
Primero     1     3     5     7
Segundo     2     4     6     8

Q.07-04

In [28]:
df.notnull()

         col1  col2  col3  col4
Primero  True  True  True  True
Segundo  True  True  True  True

Q.07-05

In [29]:
df.describe()

           col1      col2      col3      col4
count  2.000000  2.000000  2.000000  2.000000
mean   1.500000  3.500000  5.500000  7.500000
std    0.707107  0.707107  0.707107  0.707107
min    1.000000  3.000000  5.000000  7.000000
25%    1.250000  3.250000  5.250000  7.250000
50%    1.500000  3.500000  5.500000  7.500000
75%    1.750000  3.750000  5.750000  7.750000
max    2.000000  4.000000  6.000000  8.000000